body{
    background-color: blue;
}
.main{
    display: flex;
    
}
.text{
    background-color: pink;
    width: 100%;
}
.profile img {
    display: flex;
    text-align: center;
    border-radius: 50%;
    width: 100%;
}